# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.txt text
*.md text
*.json text
*.toml text
*.csv text

# Documents
*.xlsx binary
*.pdf binary

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text
